# .gitignore

clean_cython.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.dll
*.so
*.c

# Environments
.env
venv/
env/

#tests and data
tests
tests/*
test
test/*

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editor-specific files (optional, but common)
.idea/  # IntelliJ IDEA
.vscode/ # VS Code

# Macbook stuff
.DS_Store

# gitignore
.gitignore