# .gitignore

clean_cython.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.dll
*.so
*.c

# Environments
.env
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editor-specific files (optional, but common)
.idea/  # IntelliJ IDEA
.vscode/ # VS Code

# Macbook stuff
.DS_Store

# Local automation scripts (keep these local, don't commit)
download_wheels.sh
upload_to_pypi.sh
release_to_pypi.sh

mytest/